<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="/fragment :: head"></th:block>
    <title>Fashion Store - design your skirt</title>
    <link th:href="@{/styles/style-design.css}" rel="stylesheet" />
</head>

<body>

    <th:block th:include="/fragment :: navbar"></th:block>

    <h1>Design your skirt and we will sew it for you. </h1>

    <form method="POST" th:action="@{/design}" th:object="${design}">

        <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Please correct the problems below and resubmit.
            </span>
        </div>

        <div class="features">
            <h3>1. Shape: </h3>
            <div class="feature-group" id="shapes">
                <div th:each="feature : ${shape}" class="feature-option">
                    <input name="shape" class="shape" th:id="${feature.name}" type="radio" th:value="${feature.id}"/>
                    <label th:for="${feature.name}" class="shape-label">
                        <img th:src="@{${'/images/design/' + feature.name +'.png'}}" class="shape-img" th:alt="${feature.name}"/>
                        <div class="overlay">
                            <div class="text" th:text="${feature.name}">Feature name</div>
                        </div>
                    </label>
                </div>

            </div>

        <span class="validationError"
              th:if="${#fields.hasErrors('shape')}"
              th:errors="*{shape}">Shape Error</span>

        <div class="feature-group" id="lengths">
            <h3>Pick a length for you:</h3>
            <div th:each="feature : ${length}">
                <input name="length" type="radio" th:value="${feature.id}"/>
                <span th:text="${feature.name}">FEATURE</span><br/>
            </div>
        </div>

        <span class="validationError"
              th:if="${#fields.hasErrors('length')}"
              th:errors="*{length}">Length Error</span>

        <div class="feature-group" id="colors">
            <h3>Choose a color:</h3>
            <div th:each="feature : ${color}">
                <input name="color" type="radio" th:value="${feature.id}"/>
                <span th:text="${feature.name}">FEATURE</span><br/>
            </div>
        </div>

        <span class="validationError"
              th:if="${#fields.hasErrors('color')}"
              th:errors="*{color}">Color Error</span>

        <div class="feature-group" id="fabrics">
            <h3>Select a fabric:</h3>
            <div th:each="feature : ${fabric}">
                <input name="fabric" type="radio" th:value="${feature.id}"/>
                <span th:text="${feature.name}">FEATURE</span><br/>
            </div>
        </div>

        <span class="validationError"
              th:if="${#fields.hasErrors('fabric')}"
              th:errors="*{fabric}">Fabric Error</span>

        <div class="feature-group" id="sizes">
            <h3>Select a size:</h3>
            <div th:each="feature : ${size}">
                <input name="size" type="radio" th:value="${feature.id}"/>
                <span th:text="${feature.name}">FEATURE</span><br/>
            </div>
        </div>

        <span class="validationError"
              th:if="${#fields.hasErrors('size')}"
              th:errors="*{size}">Fabric Error</span>

    </div>

    <div>
        <h3>Name your skirt creation:</h3>
        <input type="text" th:field="*{name}"/>

        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error</span>


        <br/>
        <button>Submit your skirt</button>
    </div>

</form>

    <th:block th:include="/fragment :: footer"></th:block>

</body>

</html>