<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="/fragment :: head"></th:block>
    <title>Fashion Store - design your skirt</title>
    <link th:href="@{/styles/style-design.css}" rel="stylesheet" />
</head>

<body>

    <th:block th:include="/fragment :: navbar"></th:block>

    <h1>Design your skirt and we will sew it for you. </h1>

    <form method="POST" th:action="@{/design}" th:object="${design}">

        <div th:if="${#fields.hasErrors()}">
            <span class="validationError" id="warning">
                <i class="fas fa-exclamation-triangle"></i>
                Please correct the problems below and resubmit.
            </span>
        </div>

        <div class="features">
            <h3>1. Shape: </h3>

            <span class="validationError"
                  th:if="${#fields.hasErrors('shape')}"
                  th:errors="*{shape}">Shape Error</span>

            <div class="feature-group" id="shapes">
                <div th:each="feature : ${shape}" class="feature-option">
                    <input name="shape" class="shape" th:id="${feature.name}" type="radio" th:value="${feature.id}"/>
                    <label th:for="${feature.name}" class="shape-label">
                        <img th:src="@{${'/images/design/shape/' + feature.name +'.png'}}" class="shape-img" th:alt="${feature.name}"/>
                        <div class="overlay">
                            <div class="text" th:text="${feature.name}">Feature name</div>
                        </div>
                    </label>
                </div>
            </div>

            <h3>2. Color:</h3>

            <span class="validationError"
                  th:if="${#fields.hasErrors('color')}"
                  th:errors="*{color}">Color Error</span>

            <div class="feature-group" id="colors">
            <div th:each="feature : ${color}" class="feature-option">
                <input name="color" class="color" th:id="${feature.name}" type="radio" th:value="${feature.id}"/>
                <label th:for="${feature.name}" class="color-box" th:style="${'background-color: ' + feature.value + ';'}">
                <div class="overlay">
                    <div class="text" th:text="${feature.name}">Feature name</div>
                </div>
                </label>
            </div>
        </div>

        <h3>3. Fabric:</h3>

            <span class="validationError"
                  th:if="${#fields.hasErrors('fabric')}"
                  th:errors="*{fabric}">Fabric Error</span>

        <div class="feature-group" id="fabrics">
            <div th:each="feature : ${fabric}" class="feature-option">
                <input name="fabric" class="fabric" th:id="${feature.name}" type="radio" th:value="${feature.id}"/>
                <label th:for="${feature.name}" class="fabric-label">
                    <img th:src="@{${'/images/design/fabric/' + feature.name +'.jpg'}}" class="fabric-img" th:alt="${feature.name}"/>
                    <div class="overlay">
                        <div class="text" th:text="${feature.name}">Feature name</div>
                    </div>
                </label>
            </div>
        </div>

            <h3>4. Length:</h3>

            <span class="validationError"
                  th:if="${#fields.hasErrors('length')}"
                  th:errors="*{length}">Length Error</span>

            <div class="feature-group" id="lengths">
                <div th:each="feature : ${length}" class="feature-option">
                    <input name="length" class="length" th:id="${feature.name}" type="radio" th:value="${feature.id}"/>
                    <label th:for="${feature.name}" class="length-label">
                        <span class="length-text" th:text="${feature.name}">FEATURE</span>
                        <div class="overlay">
                        </div>
                    </label>
                </div>
            </div>

        <h3>5. Size:</h3>

            <span class="validationError"
                  th:if="${#fields.hasErrors('size')}"
                  th:errors="*{size}">Fabric Error</span>

        <div class="feature-group" id="sizes">
            <div th:each="feature : ${size}" class="feature-option">
                <input name="size" class="size" type="radio" th:id="${feature.name}" th:value="${feature.id}"/>
                <label th:for="${feature.name}" class="size-label">
                    <span class="size-text" th:text="${feature.name}">FEATURE</span>
                    <div class="overlay">
                    </div>
                </label>
            </div>
        </div>

    </div>

        <div>
            <h3 id="comments">6. Comments:</h3>
            <p>Help us sew an ideal skirt. Specify your measurements and preferred length.</p>
            <textarea th:field="*{comments}" id="comments-area"
                      rows="5" cols="80">
            </textarea>
        </div>

        <div id="skirt-btn-container">
            <button id="skirt-btn">Submit your skirt</button>
        </div>

    </form>

    <th:block th:include="/fragment :: footer"></th:block>

</body>

</html>