<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Fashion Cloud</title>
        <meta name="description" content="Fashion Shop Application"/>
        <meta name="keywords" content="shop, fashion, skirt, design"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    </head>

    <body>
        <h1>Welcome to Fashion Cloud</h1>
        <img th:src="@{/images/FashionCloud.jpeg}" width="400" height="300"/>
    </body>
</html>