<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Fashion Cloud</title>
        <meta name="description" content="Fashion Shop Application"/>
        <meta name="keywords" content="shop, fashion, skirt, design"/>

        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        <link th:href="@{/styles/style-fragment.css}" rel="stylesheet" />
        <link th:href="@{https://fonts.googleapis.com/css2?family=Quicksand&display=swap}" rel="stylesheet">
        <script th:src="@{https://kit.fontawesome.com/c41e5f778c.js}" crossorigin="anonymous"></script>
        <script th:src="@{/scripts/script.js}" defer></script>
    </head>

    <body>
        <nav class="navbar">
            <div class="brand-logo">
                <img th:src="@{/images/fashion-logo.png}" class="logo" alt="Fashion Store. Since 2015 with you."/>
            </div>
            <a th:href="@{#}" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <a th:href="@{/design}"><li>Design</li></a>
                    <a th:href="@{#}"><li>Offer</li></a>
                    <a th:href="@{#}"><li>Contact</li></a>
                    <a th:href="@{#}"><li><i class="fas fa-user"></i></li></a>
                    <a th:href="@{#}"><li><i class="fas fa-shopping-bag"></i></li></a>
                </ul>
            </div>
        </nav>
        <div class="slideshow">
            <div class="slides-set">
                <input type="radio" name="r" id="r1" checked/>
                <input type="radio" name="r" id="r2"/>
                <input type="radio" name="r" id="r3"/>

                <div class="slide s1">
                    <img th:src="@{/images/skirt1.jpg}" class="skirt-photo" alt="Skirt one."/>
                </div>
                <div class="slide">
                    <img th:src="@{/images/skirt2.jpg}" class="skirt-photo" alt="Skirt two."/>
                </div>
                <div class="slide">
                    <img th:src="@{/images/skirt3.jpg}" class="skirt-photo" alt="Skirt three."/>
                </div>
            </div>
            <div class="slides-navigation">
                <label for="r1" class="bar2"></label>
                <label for="r2" class="bar2"></label>
                <label for="r3" class="bar2"></label>
            </div>
        </div>
    </body>
</html>