<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Fashion Cloud</title>
    </head>
    <body>

        <form method="POST" th:action="@{/logout}">
            <input type="submit" value="Logout"/>
        </form>

        <form method="POST" th:action="@{/orders}" th:object="${order}">

            <h1>Order your skirt!</h1>

            <img th:src="@{/images/FashionCloud.jpeg}" width="400" height="300"/><br/>

            <a th:href="@{/design}" id="another">Design another skirt</a><br/>

            <div th:if="${#fields.hasErrors()}">
                <span class="validationError">
                    Please correct the problems below and resubmit.
                </span>
            </div>

            <h3>We will deliver ordered skirts to...</h3>

            <label for="fullName">Name: </label>
            <input type="text" th:field="*{fullName}"/>

            <span class="validationError"
                  th:if="${#fields.hasErrors('fullName')}"
                  th:errors="*{fullName}">Name Error</span>
            <br/>

            <label for="street">Street address: </label>
            <input type="text" th:field="*{street}"/>

            <span class="validationError"
                  th:if="${#fields.hasErrors('street')}"
                  th:errors="*{street}">Street Error</span>
            <br/>

            <label for="city">City: </label>
            <input type="text" th:field="*{city}"/>

            <span class="validationError"
                  th:if="${#fields.hasErrors('city')}"
                  th:errors="*{city}">City Error</span>
            <br/>

            <label for="state">State: </label>
            <input type="text" th:field="*{state}"/>

            <span class="validationError"
                  th:if="${#fields.hasErrors('state')}"
                  th:errors="*{state}">State Error</span>
            <br/>

            <label for="zip">Zip code: </label>
            <input type="text" th:field="*{zip}"/>

            <span class="validationError"
                  th:if="${#fields.hasErrors('zip')}"
                  th:errors="*{zip}">Zip Error</span>
            <br/>

            <h3>We accept payments with credit cards...</h3>

            <label for="ccNumber">Credit Card #: </label>
            <input type="text" th:field="*{ccNumber}"/>

            <span class="validationError"
                  th:if="${#fields.hasErrors('ccNumber')}"
                  th:errors="*{ccNumber}">Size Error</span>
            <br/>

            <label for="ccExpiration">Credit Card expiration: </label>
            <input type="text" th:field="*{ccExpiration}"/>

            <span class="validationError"
                  th:if="${#fields.hasErrors('ccExpiration')}"
                  th:errors="*{ccExpiration}">Expiration Date Error</span>
            <br/>

            <label for="ccCVV">Credit Card CVV </label>
            <input type="text" th:field="*{ccCVV}"/>

            <span class="validationError"
                  th:if="${#fields.hasErrors('ccCVV')}"
                  th:errors="*{ccCVV}">Credit Card Error</span>
            <br/>

            <input type="submit" value="Submit order"/>
        </form>

    </body>

</html>