* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9d9d9;
    color: #ffccff;
}

.brand-logo {
    display: flex;
    margin: 0vh 2vw;
}

.logo {
    max-width: 15vw;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links a {
    list-style: none;
    text-decoration: none;
}

.navbar-links a li {
    font-family: 'Quicksand', sans-serif;
    color: #33333d;
    font-size: 2vw;
    margin: 9vh 3vw;
    display: block;
}

.navbar-links a:hover {
    background-color: #33333d;
}

.navbar-links a:hover li {
    color: #ffe5e5;
}

.toggle-button {
    position: absolute;
    top: 4vw;
    right: 3vw;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    height: 10vw;
}

.toggle-button .bar {
    height: 2vw;
    width: 100%;
    background-color: #33333d;
    border-radius: 10px;
}

@media all and (max-width: 767px) {

    .logo {
        max-width: 30vw;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links a {
        text-align: center;
    }

    .navbar-links a li {
        font-size: 4vw;
        margin: 2vh 0vw;
    }

    .navbar-links.active {
        display: flex;
    }

}