* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100vw;
    overflow-x: hidden;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9d9d9;
    color: #ffccff;
}

.brand-logo {
    display: flex;
    margin: 0vh 2vw;
}

.logo {
    max-width: 15vw;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links a {
    list-style: none;
    text-decoration: none;
}

.navbar-links a li {
    color: #33333d;
    font-size: 2vw;
    margin: 9vh 3vw;
    display: block;
}

.navbar-links a:hover, #logout-btn:hover {
    background-color: #33333d;
}

.navbar-links a:hover li, #logout-btn:hover {
    color: #ffe5e5;
}

#logout-btn {
    color: #33333d;
    font-size: 2vw;
    height: 100%;
    border: none;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    background-color: #d9d9d9;
    padding: 0 3vw;
}

#logout-btn:hover {
    cursor: pointer;
}

.toggle-button {
    position: absolute;
    top: 4vw;
    right: 3vw;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    height: 10vw;
}

.toggle-button .bar {
    height: 2vw;
    width: 100%;
    background-color: #33333d;
    border-radius: 10px;
}


footer {
    background-color: #d9d9d9;
}

.footer-links {
    width: 100%;
    margin-top: 3vw;
    display: flex;
    justify-content: space-around;
}

.footer-links .brand-logo .logo {
    object-fit: contain;
}

.footer-links a {
    list-style: none;
    text-decoration: none;
    font-size: 1.25vw;
    color: #33333d;
}

.footer-links a:hover {
    color: #e64cbf;
}

.footer-links a li {
    padding: 0.5vw 0 0.5vw 0;
}

.footer-links .footer-heading {
    list-style: none;
    text-decoration: none;
    font-size: 1.5vw;
    color: #33333d;
    font-weight: bold;
    padding: 2vw 0 2vw 0;
}

h2 {
    color: #33333d;
    text-align: center;
    font-size: 1.5vw;
    padding: 0 0 2vw 0;
    margin: 0;
}

@media all and (max-width: 767px) {

    .logo {
        max-width: 30vw;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul, #logout-btn {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links a {
        text-align: center;
    }

    .navbar-links a li, #logout-btn {
        font-size: 4vw;
        margin: 2vh 0vw;
    }

    #logout-btn {
        margin: auto;
        padding: 2vh 40%;
    }

    .navbar-links.active {
        display: flex;
    }

    .footer-links {
        flex-direction: column;
        justify-content: center;
        padding: 5vw;
    }

    .footer-links a {
        font-size: 2vw;
    }

    .footer-links ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-links a li {
        text-align: center;
    }

    .footer-links .footer-heading {
        font-size: 2.5vw;
        padding: 2vw 0 2vw 0;
        text-align: center;
    }

    .footer-links .brand-logo {
        margin: auto;
    }
}